*.db
*.mp4
Client/.vs/
*.ipdb
*.iobj
*.pdb
*.ilk
Client/Bin/Resource/
Client/Doom/Debug/
Client/Doom/Release/
Client/Doom/v15/
Client/Doom/x64/
SErver/.svn/
SErver/Bin/Resource/
SErver/DoomTool/Debug/
SErver/DoomTool/Release/
SErver/ipch/
SErver/Project1/Debug/
SErver/Project1/Release/
SErver/ServerLib/Debug/
SErver/ServerLib/Release/
SErver/ServerLib/x64/
SErver/Project1/x64/
SErver/DoomTool/x64/
SErver/DoomServer/x64/
SErver/DoomServer/Release/
SErver/DoomServer/Debug/
SErver/DoomEngine/Release/
SErver/DoomEngine/Debug/
SErver/DoomEngine/x64/
SErver/Doom/x64/
SErver/Doom/v15/
SErver/Doom/Release/
SErver/Doom/Debug/
SErver/.vs/Doom/v15/
Client/ServerLib/Release/
Client/ServerLib/Debug/
Client/Project1/Release/
Client/Project1/Debug/
Client/ipch/
Client/DoomTool/x64/
Client/DoomTool/Release/
Client/DoomTool/Debug/
Client/DoomServer/Release/
Client/DoomServer/Debug/
Client/DoomEngine/Release/
Client/DoomEngine/Debug/
Client/DoomEngine/x64/
Client/Bin/DoomEngine.lib
Client/Bin_Debug/DoomEngine.lib
Client/Bin/ServerLib.lib
SErver/x64/
SErver/Bin/DoomEngine.lib
SErver/Bin/ServerLib.lib
SErver/Bin_Debug/DirectXTex.lib
SErver/Bin_Debug/DoomEngine.lib
